<style>
    table{
        width: 400px;
        border-collapse:collapse;
        border: 1px solid black;
    }
     th{
        padding: 10px;
    }
    td{
        padding: 5px;
    }
</style>
<table border="1">
    <thead>
        <tr>
            <th colspan="2">Employee Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Employee ID</td>
            <td>{{EmployeeID}}</td>         
        </tr>
        <tr>
            <td>Employee Name</td>
            <td>{{EmployeeName}}</td>         
        </tr>
        <tr>
            <td>Employee Job</td>
            <td>{{EmployeeJob}}</td>         
        </tr>
        <tr>
            <td>Employee Salary</td>
            <td>{{EmployeeSalary}}</td>         
        </tr>
        <tr>
            <td>Employee Depo</td>
            <td>{{EmployeeDepo}}</td>         
        </tr>
    </tbody>
</table>