
<h3>Data Binding in Angular</h3>
<h3>Task-1: Display Total Amount based on the given price and Quantity</h3>
<fieldset>
    <legend>Product Details</legend>
     Product Name  :   <input  type="text"  [(ngModel)]="ProductName"   />
     <br/><br/>
     Unit Price  :   <input  type="number"  [(ngModel)]="UnitPrice"   />
     <br/><br/>
     Quantity  :   <input  type="number"  [(ngModel)]="Quantity"   />
   
     <br/><br/>
     <button [disabled]="isButtonDisabled" (click)="CalProductAmt_click()">Get Total</button>
     <p>Total Amount : {{Total}} </p>
</fieldset>

<h3>Task-2: Display Collection of Product details in table format.</h3>
<fieldset>
    <legend>Product Details</legend>
    Product ID  :   <input  type="number"  [(ngModel)]="ProductID"   />
    <br/><br/>
     Product Name  :   <input  type="text"  [(ngModel)]="ProductName"   />
     <br/><br/>
     Unit Price  :   <input  type="number"  [(ngModel)]="UnitPrice"   />
     <br/><br/>
     Product Name  :   <input  type="text"  [(ngModel)]="ProductCategory"   />
     <br/><br/>
     Quantity  :   <input  type="number"  [(ngModel)]="Quantity"   />
   
     <br/><br/>
     <button [disabled]="isButtonDisabled" (click)="AddProductArray_Click()">Add Product</button>
     <p>Total Amount : {{Total}} </p>


</fieldset>

<table border="2"  width="700">
    <tr>
      <th>Product ID</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Product Category</th>
      <th>Product Qty</th>
    </tr>
  
    <tr *ngFor="let Proditem of ProdArray">
      <td>{{Proditem.ProdID}}</td>
      <td>{{Proditem.ProdName}}</td>
      <td>{{Proditem.ProdPrice}}</td>
      <td>{{Proditem.ProdCategory}}</td>
      <td>{{Proditem.ProdQty}}</td>
      
    </tr>
  </table>
